version: "3"

services:

  app:
    build:
      context: node
    container_name: app
    networks:
      - app-net
    depends_on:
      - db
  
  nginx:
    image: nginx:alpine
    restart: always
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - app
    
    networks:
      - app-net

  db:
    image: mysql
    container_name: db
    restart: always
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=app_db
    networks:
      - app-net


networks:
  app-net:
    driver: bridge