version: "3"

services:

  app:
    build:
      context: node
    container_name: app
    entrypoint: ["/bin/sh","-c","npm install && dockerize -wait tcp://db:3306 -timeout 20s node index.js"]
    networks:
      - app-net
    volumes:
      - ./node/app:/app
    depends_on:
      - db
  
  nginx:
    image: nginx:alpine
    restart: always
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - app
    
    networks:
      - app-net

  db:
    image: mysql
    container_name: db
    restart: always
    volumes:
      - app_volume:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=app_db
    networks:
      - app-net

volumes:
  app_volume:

networks:
  app-net:
    driver: bridge